@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-size: large;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

.nav-right a:hover {
    color: red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.main-text {
    text-align: center;

}

.activites {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.crd {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.crd-1 {
    background-image: url(japan-history.webp);
}

.crd-2 {
    background-image: url(traditions.avif);
    background-size: cover;
}

.crd-3 {
    background-image: url(anime_and_manga.jpeg);
    background-size: cover;
}

.crd-4 {
    background-image: url(animals.jpeg);
    background-size: cover;
}

.crd-5 {
    background-image: url(tech.jpeg);
    background-size: cover;
}

.crd-6 {
    background-image: url(food.avif);
    background-size: cover;
}

.crds {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.h2 {
    text-align: center;
    margin-top: 14vh;
    margin-bottom: 50px;
}

.underline {
    text-decoration: underline solid red 30%;
    color: red;
}

.main- {
    padding: 30px;
}

.para-img {
    margin-left: 20px;
}

.para-img-2 {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.underline2 {
    color: red;
}

footer {
    background-image: url(footer.jpg);
    height: 400px;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.foot {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b a {
    color: red;
}